.icons-sprite {
  background-image: url('../../image/sprites/icons-s9f32d0f17d.png');
  background-repeat: no-repeat;
}

.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
