@charset "UTF-8";
/*
    Отдельный файл нужен затем, чтобы файлы подключались последовательно.
    И для других вкусных функций при коллективной работе.
*/
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
.clearfix, .i-clearfix, .main__inner, .head__inner, .top-nav__list {
  *zoom: 1;
}
.clearfix:before, .i-clearfix:before, .main__inner:before, .head__inner:before, .top-nav__list:before, .clearfix:after, .i-clearfix:after, .main__inner:after, .head__inner:after, .top-nav__list:after {
  display: table;
  content: "";
}
.clearfix:after, .i-clearfix:after, .main__inner:after, .head__inner:after, .top-nav__list:after {
  clear: both;
}

.inline-block, audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* --------------------- reset meyer styles --------------------------- */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

audio:not([controls]) {
  display: none;
}

ol, ul {
  list-style: none;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: 0;
}

/* --------------------- END reset meyer styles ---------------------- */
hr {
  border: 0px none;
  background: none;
  outline: none;
  height: 0;
  margin: 0;
}

[hidden] {
  display: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
}

input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
}

select[multiple] {
  height: inherit;
  background-color: #fff;
}

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 18px \9;
}

select,
input[type="file"] {
  height: 28px;
}

textarea {
  height: auto;
}

input[type="hidden"] {
  display: none;
}

input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  outline: 1px dotted #666;
}

input[type="image"] {
  border: 0;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #e6e6e6;
  border-color: #cccccc;
  cursor: not-allowed;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #fff;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e6e6e6;
  -moz-box-shadow: 0 0 6px white;
  -webkit-box-shadow: 0 0 6px white;
  box-shadow: 0 0 6px white;
}

.icons-sprite {
  background-image: url('../image/sprites/icons-s9f32d0f17d.png');
  background-repeat: no-repeat;
}

.inline-block, audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.inline-block, audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.i-invisible {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.4;
  font-family: "Lobster", Georgia, Times, serif;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 65%;
}

h1 {
  margin: 27px 0 18px;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  margin: 21px 0 14px;
}

h3 {
  font-size: 22px;
  margin: 15px 0 10px;
}

h4 {
  font-size: 18px;
  margin: 11px 0 7px;
}

h5 {
  font-size: 14px;
  margin: 8px 0 5px;
}

h6 {
  font-size: 13px;
  margin: 5px 0 3px;
  font-weight: normal;
  text-transform: none;
}

a:visited {
  color: #726d6c;
}
a:link {
  color: #726d6c;
}
a:hover {
  color: #ff0000;
}
a:active {
  color: maroon;
}

a:hover,
a:active {
  outline: 0;
}

a:focus {
  outline: thin dotted;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

i, em {
  font-style: italic;
  font-weight: inherit;
}

b, strong {
  font-style: inherit;
  font-weight: bold;
}

big {
  font-size: 120%;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -5px;
}

sub {
  bottom: -25px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

td {
  vertical-align: top;
}

pre {
  background-color: white;
  display: block;
  padding: 7px;
  margin: 0 0 22.4px;
  line-height: 1.4;
  font-family: Lucida Console, Courier New, Courier, monospaced;
  font-size: 13px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

article p {
  margin: 4px 0 8px;
}
article ul,
article ol {
  padding: 0;
  margin: 0 0 11.2px 25px;
}
article ul ul,
article ul ol,
article ol ol,
article ol ul {
  margin-bottom: 0;
}
article ul {
  list-style: disc;
}
article ol {
  list-style: decimal;
}
article li {
  line-height: 22.4px;
}
article hr {
  margin: 22.4px 0;
  border: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid #e6e6e6;
}
article tr.odd td {
  background-color: #ebebeb;
}
article tr.odd td:hover {
  background-color: #fff;
}
article tr.even td {
  background-color: whitesmoke;
}
article tr.even td:hover {
  background-color: #fff;
}

.l-right {
  float: right;
}

.l-left {
  float: left;
}

.l-lefthalf {
  float: left;
  width: 50%;
}

.l-righthalf {
  float: right;
  width: 50%;
}

.i-relative {
  position: relative;
}

.i-hide {
  display: none !important;
}

.i-show {
  display: block;
}

.i-text-hide {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

.i-invisible {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.i-container, .main__inner, .foot__inner, .head__inner {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1050px;
  max-width: 1050px;
}

input, textarea, select, option {
  color: #444;
  background: #fff;
  border-color: #b3b3b3;
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input,
textarea {
  border: 1px solid #b3b3b3;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #4d4d4d;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #4d4d4d;
}
input.placeholder,
textarea.placeholder {
  color: #4d4d4d;
}

button {
  width: auto;
  overflow: visible;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body,
.container {
  height: 100%;
}

body {
  font: 14px "Open Sans", Tahoma, Arial, sans-serif;
  color: #726d6c;
  background-color: #fff;
  line-height: 1.6;
  position: relative;
  word-wrap: break-word;
}
body *::selection {
  background: #b4d5fe;
}
body *::-moz-selection {
  background: #b4d5fe;
}
body *::-webkit-selection {
  background: #b4d5fe;
}
body * img::selection {
  background: transparent;
}
body * img::-moz-selection {
  background: transparent;
}
body * img::-webkit-selection {
  background: transparent;
}

.container {
  height: auto;
  min-height: 100%;
}

.main {
  position: relative;
}
.main_gray {
  background-color: #f3e8e6;
}
.main_foot-indent {
  padding-bottom: 150px;
}

.foot {
  background-color: #fff;
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
}

.head-wrap {
  height: 64px;
  position: relative;
  z-index: 2;
}

.head {
  background-color: #ec8790;
  border-bottom: 5px solid #f3e8e6;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.head__inner {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar {
  width: 290px;
  float: right;
}

.content {
  width: 730px;
  float: left;
}

.logo {
  padding: 8px 0 0;
  float: left;
}
.logo__link {
  line-height: 1px;
  display: block;
}

.social-links_right {
  float: right;
}

.top-nav {
  margin: 0 10px;
  float: left;
}
.top-nav__list {
  display: flex;
}
.top-nav__item {
  align-items: stretch;
  float: left;
  margin-left: 5px;
}
.top-nav__item_active .top-nav__link {
  background-color: #e8979e;
}
.top-nav__item_active .top-nav__link:visited {
  color: #fff;
}
.top-nav__item_active .top-nav__link:link {
  color: #fff;
}
.top-nav__item_active .top-nav__link:hover {
  color: #fff;
}
.top-nav__item_active .top-nav__link:active {
  color: #fff;
}
.top-nav__link {
  display: block;
  text-decoration: none;
  padding: 17px 5px;
  border-top: 3px solid #ddc8c7;
}
.top-nav__link:visited {
  color: #ddc8c7;
}
.top-nav__link:link {
  color: #ddc8c7;
}
.top-nav__link:hover {
  color: #fff;
}
.top-nav__link:active {
  color: #fff;
}

.main-picture {
  display: block;
}
.main-picture__link {
  outline: none;
  display: block;
  line-height: 1px;
  vertical-align: top;
}
.main-picture__link:focus {
  outline: none;
}

.contacts {
  text-align: center;
  line-height: 1.2;
  padding: 10px 10px;
  margin: 0 0 10px;
  background-color: #ebdddb;
}
.contacts__sub-title {
  font-size: 15px;
}
.contacts__phone {
  font-size: 20px;
  margin: 5px 0;
}
.contacts__text {
  margin: 0 0 5px;
}

.navigation {
  background-color: #e5d4d3;
  background-image: -moz-linear-gradient(top, #ddc8c7, #f3e8e6);
  background-image: -ms-linear-gradient(top, #ddc8c7, #f3e8e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddc8c7), to(#f3e8e6));
  background-image: -webkit-linear-gradient(top, #ddc8c7, #f3e8e6);
  background-image: -o-linear-gradient(top, #ddc8c7, #f3e8e6);
  background-image: linear-gradient(top, #ddc8c7, #f3e8e6);
  background-repeat: repeat-y;
}
.navigation__list {
  padding: 15px 0;
  margin: 0 10px;
  background: url('../image/content/flower.png?1435409412') right bottom no-repeat;
}
.navigation__item {
  margin: 0 0 2px;
}
.navigation__link {
  display: block;
  padding: 5px;
  text-decoration: none;
}
.navigation__link:visited {
  color: #726d6c;
}
.navigation__link:link {
  color: #726d6c;
}
.navigation__link:hover {
  color: #fff;
}
.navigation__link:active {
  color: #fff;
}
.navigation__link:hover {
  background-color: rgba(231, 171, 175, 0.7);
}

.reasons-to-choose {
  padding: 20px 0;
}
.reasons-to-choose__title {
  font-size: 22px;
  text-align: center;
  line-height: 1.4;
}
.reasons-to-choose__list {
  overflow: hidden;
}
.reasons-to-choose__item {
  width: 50%;
  float: left;
}

.text-with-title {
  text-align: center;
  padding: 20px 10px;
}
.text-with-title__title {
  color: #ec8790;
  font-family: "Lobster", Tahoma, Arial, sans-serif;
}
.text-with-title__text {
  font-size: 16px;
}

@media print {
  header,
  footer,
  aside,
  nav {
    display: none;
  }

  form,
  fieldset,
  label,
  input,
  textarea {
    display: none;
  }

  body {
    background: #fff;
    font-size: 14pt;
    line-height: 1.2;
    color: #000;
    font-family: Times New Roman, Times, serif;
  }

  a,
  a:visited {
    text-decoration: underline;
    color: #000;
  }

  h1, h2, h3, h4, h5, h6,
  caption {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-top: 15px;
  }

  blockquote {
    font-style: italic;
    border: 1pt solid #ccc;
  }

  table {
    background: #ffffff;
    border: solid #ccc;
    border-width: 1pt 0 0 1pt;
    border-collapse: inherit;
    border-spacing: inherit;
  }

  th,
  td {
    border: solid #ccc;
    border-width: 0 1pt 1pt 0;
    padding: 5pt 7pt;
  }

  thead th,
  thead td {
    background: #f5f5f5;
  }
}
