html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body,
.container {
  height: 100%;
}

body {
  font: $basefont $regular;
  color: $textColor;
  background-color: $white;
  line-height: 1.6;
  position: relative;
  word-wrap: break-word; // перенос длинных слов
  @include select-color();
}

.container {
  height: auto;
  min-height: 100%;
}

.main {
  position: relative;

  &__inner{
    @extend .i-container;
    @extend .clearfix;
  }
  &_gray{
    background-color: $whiteLight;
  }
  &_foot-indent{
    padding-bottom: $footerHeight;
  }
}

.foot {
  background-color: $white;
  position: relative;
  margin-top: $footerHeight * -1;
  height: $footerHeight;
  clear: both;
}

.foot__inner {
  @extend .i-container;
}

.head-wrap{
  height: 64px;
  position: relative;
  z-index: 2;
}
.head {
  background-color: $pink;
  border-bottom: 5px solid $white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  &__inner {
    padding-left: 10px;
    padding-right: 10px;
    @extend .i-container;
    @extend .clearfix;
  }
}

.sidebar{
  width: 290px;
  float: right;
}

.content{
  float: left;
}